aiohttp[speedups]==3.7.3
loguru~=0.5.3
arrow==0.17.0
asyncpg==0.21.0
discord.py@git+https://github.com/Rapptz/discord.py@master
discord-ext-menus@git+https://github.com/Rapptz/discord-ext-menus@master
gTTS==2.2.1
matplotlib~=3.3.3
polyglot==16.7.4
seaborn~=0.11.0
jishaku==1.20.0.220
tabulate==0.8.7